set show-all-if-ambiguous on

# make paging long output easier
"\C-j": "|less\C-m"
set completion-ignore-case on

# Use the text that has already been typed as the prefix for searching through
# commands (i.e. more intelligent Up/Down behavior)
"\e[B": history-search-forward
"\e[A": history-search-backward


set visible-stats on
set skip-completed-text on
